.update-outer {
  background-color: #d4e1e7;
  padding-top: 40px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-inner {
  width: 1020px;
  min-height: 1005px;
  background: #fff;
  border-radius: 9px;
  border: 1px solid rgba(119,130,135,.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-inner {
  position: relative;
  margin-top: 45px;
  width: 800px;
  min-height: 600px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #CCC;
  background-color: #f6f6f6;
  border-radius: 12px;
  margin-bottom: 50px;
}
.update-file {
  position: relative;
  width: 772px;
  margin-top: 15px;
  color: #AAA;
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  background-color: #fff;
  border: 1px solid #dedede;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 145px;
  display: flex;
  align-items: center;
}



.title-inner {
  margin-left: 20px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}


.title {
  width: 760px;
  background-color: #fff;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 10px;
  min-height: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.description {
  margin-top: 15px;
  // background-color: #fff;
  // box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  // border: 1px solid #ccc;
  // font-family: Helvetica, Arial, sans-serif;
  // border-radius: 10px;
  // font-size: 18px;
  padding-left: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  // width: 95%;
  // max-width: 95%;
  // min-height: 310px;
  // margin-bottom: 20px;

}
.add-file-overlay {
  position: absolute;
  text-align: center;
  line-height: 120px;
  left: 153px;
  margin-bottom: 5px;
  min-height: 120px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  width: 600px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.file-overlay {
  margin-bottom: 4px;
}

.save {
  display: flex;
  justify-content: center;
}

.save-button {
  cursor: pointer;
  margin-top: 15px;
  background-color: #f6f6f6;
  border-color: #dedede;
  color: #333;
  min-height: 50px;
  min-width: 100%;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  color: #AAA;
}
.step-delete {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
}
#clear-icon {
  position: absolute;
  left: 940px;
  border: none;
  background-color: transparent;
  color: #cecccc;
  top: 40px;
  opacity: 0;
}
.edit-view-ind:hover #clear-icon {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .6s;
}

.add-file {
	position: relative;
	text-align: right;
  vertical-align: center;
	opacity  : 0;
	z-index: 2;
  width: 600px;
  margin-left: 150px;
  min-height: 116px;
  cursor: pointer;
  outline: none;
}

#publish {
  background-color: #e86c00;
  border-color: #cf6000;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 6px 6px;
  text-shadow: none;
}
