.update-outer {
  background-color: #d4e1e7;
  display: flex;
  justify-content: center;

}

.update-inner {
  margin-top: 42px;
  width: 1020px;
  height: 1005px;
  background: #fff;
  border-radius: 9px;
  border: 1px solid rgba(119,130,135,.4);
}
