.error-btn {
  position: relative;
}

.error-outer {
  list-style: none;
  position: absolute;
  color: white;
  bottom: 45px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.error-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  background-color: #b94a48;
  border-radius: 4px;
  width: 155px;
  font-size: 11px;
}

.error-arrow {
  height: 0px;
  width: 0px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 7px solid #b94a48;
}

.box-error {
  list-style: none;
  background-color: #b94a48;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px #b94a48;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 2px 4px;
  display: flex;
}

.error-message {
  margin: 19px;
}

.box-error-message {
  text-align: center;
  color: #fff;
}
.hidden {
  display: none !important;
}

.modal-section {
  display: flex;
  flex-direction: column;
  width: 585px;
  height: 90px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  // padding: 20px;
}
.confirm {
  font-weight: bold;
  margin-bottom: 2px;
}
.cancel {
  background-image: none;
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-shadow: none;
  height: 33px;
  width: 65px;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}

.sure {
  margin-bottom: 5px;
}
.delete {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 2px;
  height: 33px;
  width: 65px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  border-color: #bd362f #bd362f #802420;
  background-color: #da4f49;
}
