.form-container {
  width: 1016px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.project-form {
  height: 182px;
}

.form-outer {
  background-color: #d4e1e7;
}
