.outer-project-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 365px;
  width: 324px;
  margin-left: 28px;
  margin-bottom: 23px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.projects-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: center;
}

.project-image {
  cursor: pointer;
  height: 270px;
  width: 322.5px;
  border-left: 0px solid rgba(0, 0, 0, 0.1);
  border-right: 0px solid rgba(0, 0, 0, 0.1);
  border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.inner-project-container {
  padding: 10px 13px;
  background: #fff;
  height: 50px;
}
.project-title, .project-owner {
  text-decoration: none;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}
.all-owner {
  display: flex;
  align-items: flex-end;
  margin-top: 7px;
}

.by-owner {
  font-size: 12px;
  margin-right: 4px;
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
}
.project-title {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}


.project-owner {
  color: #555;
  text-size-adjust: 100%;
  font-size: 13px;
}

.search-outer {
   background: #d4e1e7;
   padding-top: 35px;
   padding-bottom: 250px;
   min-height: 516px;
}
.search-inner {
  background-color: white;
}

.search-top-bar {
  display: flex;
  min-height: 115px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.code-big{
  font-size: 32px;
  font-family: 'Caveat Brush';
  letter-spacing: 2px;
 }

.searchbar-big {
  font-size: 18px;
  color: #757575;
  height: 25px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  padding: 4px 6px;
}
