.show-outer {
  background-color: #d4e1e7;
  min-width: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 130px;
}

.show-inner {
  background: #fff;
  width: 1015px;
  border: 1px solid rgba(119,130,135,.4);
  border-radius: 9px;
}

.show-top {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #f6f6f6;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  padding: 20px 25px 20px 25px;
  font-size: 24px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);

}
.show-bottom {
  background: #fff;
  margin: 15px;
  margin-right: 340px;
}
.owner-info {
  display: flex;
  align-items: baseline;
}
.all {
  display: flex;
  align-items: baseline;
}
.by {
  font-size: 14px;
  padding-right: 5px;
  font-size: 14px;
  margin-left: 5px;
  color: #999;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.show-owner {
  color: #555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.show-img-container {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 35px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;

}
.show-img {
  max-width: 100%;
  // height: auto;
  max-height: 400px;
}

.show-description {
  color: #333;
  font-size: 17px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 20px;
  white-space: pre-wrap;
}
.show-instruction-title {
  font-size: 22px;
  margin: 12px 0;
  font-weight: 700;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 10px;
}

.show-logo {
  max-height: 40px;
}

.edit-button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: #e86c00;
  border-color: #cf6000;
  color: #fff;
  margin-left: 5px;
  padding: 7px 15px;
}

.comment-container {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0;
  border-top: 1px solid #e9e9e9;
  background-image: image_url("comment-gray.png");
}

.comment-author {
  font-weight: 700;
  color: #e86c00;
  text-decoration: none;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.comment-body {
  font-size: 16px;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 20px;
}
.delete-comment {
  font-size: 12px;
  color: #e86c00;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: none;
  border: none;
}

.comment-delete-container {
  display: flex;
  justify-content: flex-end;
}

.comment-outer {
  padding: 12px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  min-height: 180px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-text {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  position: relative;
  overflow: auto;
  padding: 10px;
  padding-bottom: 5px;
  background: #fff;
  min-width: 95%;
  max-width: 95%;
  min-height: 125px;
  color: #333;
  font-size: 14px;
}
.post-comment {
  margin-top: 15px;
  background-color: #df6902;
  border-color: #c55b00;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 8px 12px;
}
