
header, body, footer, section,
div,
h1, h2, h3, h4, p,
label, form,
ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

}
input, button {
  border: 1px solid black;
  border-radius: 6px;
}
button:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
