// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header, body, footer, section,
div,
h1, h2, h3, h4, p,
label, form,
ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  // background: none;
}
input, button {
  border: 1px solid black;
  border-radius: 6px;
}
a {
  text-decoration: none;
}

 // input not reseting input to keep border
