// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// reset styles something like .login-form-container .children and reset everything?





.session-outer-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  background-color: #d4e1e7;
  padding-bottom: 1.5em;
}

.session-inner-container {
  width: 1016px;
  height: 808px;
  min-width: 1016px;
  border: 1px solid rgba(119,130,135,.4);
  box-shadow: 0 1px 3px rgba(0,0,0,.35);
  border-radius: 9px;
  background-image: image_url("love_coding.jpg");
  background-size: 100% 100%;
}

.session-header {
  font-family: 'Caveat Brush';
  font-size: 36px;
  border-bottom: 1px solid rgba(119,130,135,.4);
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  background: #f6f6f6;
  padding: 5px 10px 15px 15px
}

.session-background-container {
  padding: 70px;
}



.session-form-box {
  display: flex;
  border: 1px solid rgba(119,130,135,.4);
  border-radius: 9px;
  width: 320px;

  // height: 590px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.session-input-container {
  display: flex;
  flex-direction: column;
  width: 87%;
}



.change-session-container {
  display: flex;
  border: 1px solid rgba(119,130,135,.4);
  width: 100%;
  background-color: #f5f5f5;
  align-items: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}


.login-input, .session-input-container > button, #submit-session-button  {
  position: relative;
  height: 28px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 90%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-input {
  padding: 4px 6px;
}



#submit-session-button {
  background-color: #e86c00;
  border-color: #cf6000;
  color: white;
  padding: 20px 0px 20px 0px;
  line-height: 0px;
}

.flex_box {
  width: 100%;
  height: 40%;
}
.change-padding {
  color: #777;
  text-decoration: none;
  font-size: 12px;
  padding-left: 3px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 14px 20px;
  display: block;
}
.change-link {
  padding-left: 3px;
}
